@{ ViewData["Title"] = "Consulta CEP"; }

<h1 class="text-center text-dar my-4">Consulte seu CEP:</h1>

<div>
    <div class="row mb-3">
        <label class="col-2 text-center pt-1" for="State">Cep:</label>
        <input type="text" class="col-7" placeholder="17400114" id="CEP">
        <button class="btn btn-primary col-2 ml-2" id="GetCEP">Buscar CEP</button>
        <div class="col-1"></div>
    </div>
    <div class="row mb-3">
        <label class="col-2 text-center pt-1" for="Estado">Estado:</label>
        <input type="text" class="col-9" name="Estado" id="Estado" readonly/>
        <div class="col"></div>
    </div>

    <div class="row mb-3">
        <label class="col-2 text-center pt-1" for="Cidade">Cidade:</label>
        <input type="text" class="col-9" name="Cidade" id="Cidade" readonly/>
        <div class="col"></div>
    </div>

    <div class="row mb-3">
        <label class="col-2 text-center pt-1" for="Bairro">Bairro:</label>
        <input type="text" class="col-9" name="Bairro" id="Bairro" readonly/>
        <div class="col"></div>
    </div>

    <div class="row mb-3">
        <label class="col-2 text-center pt-1" for="Rua">Rua:</label>
        <input type="text" class="col-9" name="Rua" id="Rua" readonly/>
        <div class="col"></div>
    </div>
</div>

<h3 class="text-danger text-center" id="TextError"></h3>

<script>
    TextError = document.getElementById("TextError");
    Estado = document.getElementById("Estado");
    Cidade = document.getElementById("Cidade");
    Bairro = document.getElementById("Bairro");
    Rua = document.getElementById("Rua");

    document.getElementById("GetCEP").addEventListener("click", function () {
    var cep = document.getElementById("CEP");
    var endereco;

        if (cep.value <= 0) {
        TextError.textContent = "Insira um CEP!";
        ClearValues();
        return;
    }

    $.ajax({
        type: "POST",
        url: "@Url.Action("ConsultaCEP")",
        data: { CEP: cep.value },
        dataType: "json",
        success: function (txt) {
            console.log(txt);

            if (ChecaNulo(txt)) {
                TextError.textContent = "CEP INVÁLIDO!";
                ClearValues();
            }
            else {
                TextError.textContent = "";
                Estado.value = txt.State;
                Cidade.value = txt.City;
                Bairro.value = txt.District;
                Rua.value = txt.Street;
            }
        }
    });
    });

    function ChecaNulo(obj) {
        for (var key in obj) {
            if (obj[key] !== null)
                return false;
        }
        return true;
    }

    function ClearValues() {
        Estado.value = "";
        Cidade.value = "";
        Bairro.value = "";
        Rua.value = "";
    }
</script>